h1{
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}


#c2 {
    max-width: 50%; 
    margin: auto; 
    padding-top:50%; 
}

#b1 {
    font-size: 14px; 
    padding: 8px 12px; 
    width: 10%; 
}

#responseContainer {
    max-width: 50%; 
    margin: 20px auto; 
    padding: 20px; 
    font-size: 16px; 
}

visually-hidden{
    font-family: sans-serif;
}

h4{
    font-family: sans-serif;
}